$cubic-1: cubic-bezier(0.22, 0.61, 0.36, 1);
$cubic-2: cubic-bezier(0.7, 0, 0.3, 1);
$cubic-3: cubic-bezier(0.65, 0.05, 0.36, 1);
$cubic-4: cubic-bezier(0.4, 0, 0.2, 1);
$cubic-5: cubic-bezier(0.785, 0.135, 0.15, 0.86);

.text-anim-bottom{
	transition: transform 1s $cubic-1;
	transform: translate3d(0, 15%, 0);
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	h1, h2, span, p{
		display: inline-block;
		backface-visibility: hidden;
		transition: transform 1s $cubic-1;
		transform: translate3d(0, 100%, 0);
	}
	&.animated{
		transform: translate3d(0, 0%, 0);
		h1, h2, span, p{
			transform: translate3d(0, 0%, 0);
		}
	}
}
.animated > .text-anim-bottom{
	transform: translate3d(0, 0%, 0);
	h1, h2, span, p{
		transform: translate3d(0, 0%, 0);
	}
}


.text-anim-top{
	transition: transform 1s $cubic-1;
	transform: translate3d(0, -15%, 0);
	position: relative;
	overflow: hidden;
	backface-visibility: hidden;
	 h1, h2, p{
		display: inline-block;
		backface-visibility: hidden;
		transition: transform 1s $cubic-1;
		transform: translate3d(0, -100%, 0);
	}
	&.animated{
		transform: translate3d(0, 0%, 0);
		 h1, h2, p{
			transform: translate3d(0, 0%, 0);
		}
	}
}
.animated > .text-anim-top{
	transform: translate3d(0, 0%, 0);
	h1, h2,  p{
		transform: translate3d(0, 0%, 0);
	}
}

.fade-anim-default{
	transition: opacity 800ms $cubic-2;
	opacity: 0;
	backface-visibility: hidden;
	&.animated{
		opacity: 1;
	}
}

.fade-anim-article{
	transition: opacity 800ms $cubic-2, transform 800ms $cubic-2;
	opacity: 0;
	backface-visibility: hidden;
	&.animated{
		opacity: 1;
	}
}


.fade-anim-zoom{
	transform: scale(0.9);
	transition: all 800ms $cubic-2, transform 1.5s $cubic-5;
	opacity: 0;
	backface-visibility: hidden;
	&.animated{
		opacity: 1;
		transform: scale(1);
	}
}

.fade-anim-bottom{
	transition: opacity 1.5s $cubic-4, transform 1.5s $cubic-4;
	transform: translate3d(0, 30%, 0);
	opacity: 0;
	backface-visibility: hidden;
	&.animated{
		transform: translate3d(0, 0%, 0);
		opacity: 1;
	}
}

.fade-anim-top{
	transition: opacity 1.5s $cubic-4, transform 1.5s $cubic-4;
	transform: translate3d(0, -30%, 0);
	opacity: 0;
	backface-visibility: hidden;
	&.animated{
		transform: translate3d(0, 0%, 0);
		opacity: 1;
	}
}

.fade-up {
    opacity: 0;
    transition: opacity 800ms $cubic-2, transform 800ms $cubic-2;
  	transform: translate3d(0, 30%, 0);
  	backface-visibility: hidden;
    &.animated {
        opacity: 1;
        transform: translate3d(0, 0, 0);
     
    }
}

.unwrap-anim-box {
	position: relative;
	transition: opacity 1.3s cubic-bezier(0.7, 0, 0.3, 1), transform 1.3s cubic-bezier(0.7, 0, 0.3, 1);
	transform: translate3d(0%, -5%, 0);
	opacity: 0;
	backface-visibility: hidden;
	&:after{
		transition: transform 1.3s cubic-bezier(0.7, 0, 0.3, 1);
		content: '';
		position: absolute;
		z-index: 50;
		top: 0;
		left: 0;
		width: 110%;
		height: 110%;
		background-color: #fff;
		transform: scaleY(1);
		transform-origin: 50% 100%;
	}
	&.animated{
		transform: translate3d(0%, 0%, 0%);
		opacity: 1;
	}
	&.animated:after{
		transform: scaleY(0);
	}
}

.unwrap-anim-bottom{
	position: relative;
	transition: transform .8s $cubic-3;
	transform-origin: 0% 100%;
	transform: scaleY(0);
	backface-visibility: hidden;
	overflow: hidden;
	&:after{
		transition: transform 1s $cubic-4;
		content: '';
		position: absolute;
		z-index: 50;
		bottom: 0%;
		left: 0;
		width: 110%;
		height: 100%;
		background-image: linear-gradient(to top, rgba(0,140,188,1) 0%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 100%);
		transform: scaleY(1);
		transform-origin: 50% 100%;
	}
	&.animated{
		transform: scaleY(1);
		opacity: 1;
	}
	&.animated:after{
		transition-delay: 500ms;
		transform: scaleY(0);
	}
}


.unwrap-anim-top{
	position: relative;
	transition: transform .8s $cubic-3;
	transform-origin: 50% 0%;
	transform: scaleY(0);
	backface-visibility: hidden;
	overflow: hidden;
	&:after{
		transition: transform 1s $cubic-4;
		content: '';
		position: absolute;
		z-index: 50;
		top: 0%;
		left: 0;
		width: 110%;
		height: 100%;
		background-image: linear-gradient(to bottom, rgba(227,5,26,1) 0%, rgba(227,5,26,1) 65%, rgba(227,5,26,1) 65%, rgba(227,5,26,1) 100%);
		transform: scaleY(1);
		transform-origin: 50% 100%;
	}
	&.animated{
		transform: scaleY(1);
		opacity: 1;
	}
	&.animated:after{
		transition-delay: 500ms;
		transform: scaleY(0);
	}
}

.fade-anim-left{
	transition: opacity 800ms cubic-bezier(0.7, 0, 0.3, 1), transform 800ms cubic-bezier(0.7, 0, 0.3, 1);
	transform: translate3d(-10%, 0%, 0);
	opacity: 0;
	backface-visibility: hidden;
	&.animated{
		transform: translate3d(0%, 0%, 0%);
		opacity: 1;
	}
}

.fade-anim-right{
	transition: opacity 800ms cubic-bezier(0.7, 0, 0.3, 1), transform 800ms cubic-bezier(0.7, 0, 0.3, 1);
	transform: translate3d(10%, 0%, 0);
	opacity: 0;
	backface-visibility: hidden;
	&.animated{
		transform: translate3d(0%, 0%, 0%);
		opacity: 1;
	}
}

.unwrap-anim-left{
	position: relative;
	transition: transform .8s $cubic-3;
	transform-origin: 0% 50%;
	transform: scaleX(0);
	backface-visibility: hidden;
	overflow: hidden;
	&:after{
		transition: transform 1s $cubic-4;
		content: '';
		position: absolute;
		z-index: 50;
		top: 0%;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to right, rgba(65,87,115,1) 0%, rgba(65,87,115,1) 65%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
		transform: scaleX(1);
		transform-origin: 100% 50%;
	}
	&.animated{
		transform: scaleX(1);
		opacity: 1;
	}
	&.animated:after{
		transition-delay: 500ms;
		transform: scaleX(0);
	}
}


.unwrap-anim-right{
	position: relative;
	transition: transform .8s $cubic-3;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	backface-visibility: hidden;
	overflow: hidden;
	&:after{
		transition: transform 1s $cubic-4;
		content: '';
		position: absolute;
		z-index: 50;
		top: 0%;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to left, rgba(65,87,115,1) 0%, rgba(65,87,115,1) 65%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
		transform: scaleX(1);
		transform-origin: 0% 50%;
	}
	&.animated{
		transform: scaleX(1);
		opacity: 1;
	}
	&.animated:after{
		transition-delay: 500ms;
		transform: scaleX(0);
	}
}


.unwrap-fixed-menu{
	transition: transform 1s $cubic-5;
	transform-origin: 100% 50%;
	transform: scaleX(0);
	backface-visibility: hidden;
	overflow: hidden;
	
	&.animated{
		transform: scaleX(1);
		opacity: 1;
	}
}

.page-unwrap {
	position: relative;
	&:after {
		transition: transform 0.4s $cubic-5;
		content: '';
		position: absolute;
		z-index: 20;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #eaeaea;
		// background: #abaaaa;
		transform: translateX(-100%);
	}
	&.active {
		&:after {
			transform: translateX(0%);
		}
	}
	&.animated {
		&:after {
			transform: translateX(100%);
		}
	}
}

.unwrap-main-menu{
	position: relative;
	transition: transform 1s $cubic-5;
	transform-origin: 50% 0%;
	transform: scaleY(0);
	backface-visibility: hidden;
	// overflow: hidden;
	&:after{
		transition: transform 1.2s $cubic-5;
		content: '';
		position: absolute;
		z-index: 50;
		top: 0%;
		left: 0;
		width: 110%;
		height: 100%;
		background: #fff;
		// background-image: linear-gradient(to bottom, rgba(0,140,188,1) 0%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 100%);
		transform: scaleY(1);
		transform-origin: 50% 100%;
	}
	&.animated{
		transform: scaleY(1);
		opacity: 1;
		// overflow: visible;
	}
	&.animated:after{
		transition-delay: 800ms;
		transform: scaleY(0);
	}
}


/* GLITCH */
@keyframes scan {
  0% {
    top: 0%;
  }
  30% {
    top: 50%;
  }
  50% {
    top: -50%;
  }
  100% {
    top: 100%;
  }
}

@keyframes glitch {
  0% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  5% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
    opacity: 0.75;
  }
  10% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  15% {
    -moz-transform: skewX(-5deg);
    -ms-transform: skewX(-5deg);
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 0.75;
  }
  20% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  45% {
    -moz-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    -webkit-transform: skewX(3deg);
    transform: skewX(3deg);
    opacity: 0.75;
  }
  50% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  55% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 0.75;
  }
  60% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  75% {
    -moz-transform: skewX(2deg);
    -ms-transform: skewX(2deg);
    -webkit-transform: skewX(2deg);
    transform: skewX(2deg);
  }
  80% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  85% {
    -moz-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    opacity: 0.75;
  }
  90% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 1;
  }
  100% {
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
}



.ie {
	.text-anim-bottom{
		transition: transform 1s $cubic-1;
		transform: translate3d(0, 15%, 0);
		position: relative;
		overflow: hidden;
		backface-visibility: visible;
		span, li, h1{
			display: inline-block;
			backface-visibility: visible;
			transition: transform 1s $cubic-1;
			transform: translate3d(0, 100%, 0);
		}
		&.animated{
			transform: translate3d(0, 0%, 0);
			span, li, h1{
				transform: translate3d(0, 0%, 0);
			}
		}
	}


	.text-anim-top{
		transition: transform 1s $cubic-1;
		transform: translate3d(0, -15%, 0);
		position: relative;
		overflow: hidden;
		backface-visibility: visible;
		span, h1{
			display: inline-block;
			backface-visibility: visible;
			transition: transform 1s $cubic-1;
			transform: translate3d(0, -100%, 0);
		}
		&.animated{
			transform: translate3d(0, 0%, 0);
			span, h1{
				transform: translate3d(0, 0%, 0);
			}
		}
	}
	.animated > .text-anim-top{
		transform: translate3d(0, 0%, 0);
		span{
			transform: translate3d(0, 0%, 0);
		}
	}

	.fade-anim-default{
		transition: opacity 800ms $cubic-2;
		opacity: 0;
		backface-visibility: visible;
		&.animated{
			opacity: 1;
		}
	}

	.fade-anim-article{
		transition: opacity 800ms $cubic-2, transform 800ms $cubic-2;
		opacity: 0;
		backface-visibility: visible;
		&.animated{
			opacity: 1;
		}
	}


	.fade-anim-zoom{
		transform: scale(0.9);
		transition: all 800ms $cubic-2, transform 1.5s $cubic-5;
		opacity: 0;
		backface-visibility: visible;
		&.animated{
			opacity: 1;
			transform: scale(1);
		}
	}

	.fade-anim-bottom{
		transition: opacity 1.5s $cubic-4, transform 1.5s $cubic-4;
		transform: translate3d(0, 30%, 0);
		opacity: 0;
		backface-visibility: visible;
		&.animated{
			transform: translate3d(0, 0%, 0);
			opacity: 1;
		}
	}

	.fade-anim-top{
		transition: opacity 1.5s $cubic-4, transform 1.5s $cubic-4;
		transform: translate3d(0, -30%, 0);
		opacity: 0;
		backface-visibility: visible;
		&.animated{
			transform: translate3d(0, 0%, 0);
			opacity: 1;
		}
	}

	.fade-up {
	    opacity: 0;
	    transition: opacity 800ms $cubic-2, transform 800ms $cubic-2;
	  	transform: translate3d(0, 30%, 0);
	  	backface-visibility: visible;
	    &.animated {
	        opacity: 1;
	        transform: translate3d(0, 0, 0);
	     
	    }
	}

	.unwrap-anim-box {
		position: relative;
		transition: opacity 1.3s cubic-bezier(0.7, 0, 0.3, 1), transform 1.3s cubic-bezier(0.7, 0, 0.3, 1);
		transform: translate3d(0%, -5%, 0);
		opacity: 0;
		backface-visibility: visible;
		&:after{
			transition: transform 1.3s cubic-bezier(0.7, 0, 0.3, 1);
			content: '';
			position: absolute;
			z-index: 50;
			top: 0;
			left: 0;
			width: 110%;
			height: 110%;
			background-color: #fff;
			transform: scaleY(1);
			transform-origin: 50% 100%;
		}
		&.animated{
			transform: translate3d(0%, 0%, 0%);
			opacity: 1;
		}
		&.animated:after{
			transform: scaleY(0);
		}
	}

	.unwrap-anim-bottom{
		position: relative;
		transition: transform .8s $cubic-3;
		transform-origin: 0% 100%;
		transform: scaleY(0);
		backface-visibility: visible;
		overflow: hidden;
		&:after{
			transition: transform 1s $cubic-4;
			content: '';
			position: absolute;
			z-index: 50;
			bottom: 0%;
			left: 0;
			width: 110%;
			height: 100%;
			background-image: linear-gradient(to top, rgba(0,140,188,1) 0%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 100%);
			transform: scaleY(1);
			transform-origin: 50% 100%;
		}
		&.animated{
			transform: scaleY(1);
			opacity: 1;
		}
		&.animated:after{
			transition-delay: 500ms;
			transform: scaleY(0);
		}
	}


	.unwrap-anim-top{
		position: relative;
		transition: transform .8s $cubic-3;
		transform-origin: 50% 0%;
		transform: scaleY(0);
		backface-visibility: visible;
		overflow: hidden;
		&:after{
			transition: transform 1s $cubic-4;
			content: '';
			position: absolute;
			z-index: 50;
			top: 0%;
			left: 0;
			width: 110%;
			height: 100%;
			background-image: linear-gradient(to bottom, rgba(0,140,188,1) 0%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 100%);
			transform: scaleY(1);
			transform-origin: 50% 100%;
		}
		&.animated{
			transform: scaleY(1);
			opacity: 1;
		}
		&.animated:after{
			transition-delay: 500ms;
			transform: scaleY(0);
		}
	}

	.fade-anim-left{
		transition: opacity 800ms cubic-bezier(0.7, 0, 0.3, 1), transform 800ms cubic-bezier(0.7, 0, 0.3, 1);
		transform: translate3d(-10%, 0%, 0);
		opacity: 0;
		backface-visibility: visible;
		&.animated{
			transform: translate3d(0%, 0%, 0%);
			opacity: 1;
		}
	}

	.fade-anim-right{
		transition: opacity 800ms cubic-bezier(0.7, 0, 0.3, 1), transform 800ms cubic-bezier(0.7, 0, 0.3, 1);
		transform: translate3d(10%, 0%, 0);
		opacity: 0;
		backface-visibility: visible;
		&.animated{
			transform: translate3d(0%, 0%, 0%);
			opacity: 1;
		}
	}

	.unwrap-anim-left{
		position: relative;
		transition: transform .8s $cubic-3;
		transform-origin: 0% 50%;
		transform: scaleX(0);
		backface-visibility: visible;
		overflow: hidden;
		&:after{
			transition: transform 1s $cubic-4;
			content: '';
			position: absolute;
			z-index: 50;
			top: 0%;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to right, rgba(65,87,115,1) 0%, rgba(65,87,115,1) 65%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
			transform: scaleX(1);
			transform-origin: 100% 50%;
		}
		&.animated{
			transform: scaleX(1);
			opacity: 1;
		}
		&.animated:after{
			transition-delay: 500ms;
			transform: scaleX(0);
		}
	}


	.unwrap-anim-right{
		position: relative;
		transition: transform .8s $cubic-3;
		transform-origin: 100% 50%;
		transform: scaleX(0);
		backface-visibility: visible;
		overflow: hidden;
		&:after{
			transition: transform 1s $cubic-4;
			content: '';
			position: absolute;
			z-index: 50;
			top: 0%;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to left, rgba(65,87,115,1) 0%, rgba(65,87,115,1) 65%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%);
			transform: scaleX(1);
			transform-origin: 0% 50%;
		}
		&.animated{
			transform: scaleX(1);
			opacity: 1;
		}
		&.animated:after{
			transition-delay: 500ms;
			transform: scaleX(0);
		}
	}


	.unwrap-fixed-menu{
		
		transition: transform 1s $cubic-5;
		transform-origin: 100% 50%;
		transform: scaleX(0);
		backface-visibility: visible;
		overflow: hidden;
		
		&.animated{
			transform: scaleX(1);
			opacity: 1;
		}
	}

	.unwrap-main-menu{
		position: relative;
		transition: transform 1s $cubic-5;
		transform-origin: 50% 0%;
		transform: scaleY(0);
		backface-visibility: visible;
		// overflow: hidden;
		&:after{
			transition: transform 1.2s $cubic-5;
			content: '';
			position: absolute;
			z-index: 50;
			top: 0%;
			left: 0;
			width: 110%;
			height: 100%;
			background: #fff;
			// background-image: linear-gradient(to bottom, rgba(0,140,188,1) 0%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 65%, rgba(0,140,188,1) 100%);
			transform: scaleY(1);
			transform-origin: 50% 100%;
		}
		&.animated{
			transform: scaleY(1);
			opacity: 1;
			// overflow: visible;
		}
		&.animated:after{
			transition-delay: 800ms;
			transform: scaleY(0);
		}
	}
}