body:not(.loaded){
    #wrapper, .mobile-menu-wrapper, .page-header, .wordpress-fire-push-popup, .wordpress-gdpr-popup, .wordpress-gdpr-privacy-settings-popup-container {
        opacity: 0;
        visibility: hidden;
        backface-visibility: hidden;
    }
    .mobile-menu-wrapper {
    	opacity: 0;
    	visibility: hidden;
    	backface-visibility: hidden;
    }
}

body.loaded{
    #wrapper, .page-header, .mobile-menu-wrapper {
        transition: opacity 0.8s ease, visibility 0.8s ease, background-color 0.8s ease;
        opacity: 1;
        visibility: visible;
        z-index: 100;
    }
    .wordpress-fire-push-popup, .wordpress-gdpr-popup, .wordpress-gdpr-privacy-settings-popup-container {
        transition: opacity 1s ease, visibility 1s ease;
        transition-delay: 2s;
        opacity: 1;
        visibility: visible;
    }
    .wordpress-fire-push-popup {
        transition-delay: 3s;
    }
}