body.login div#login h1 a {
    background-image: url('img/redneck.svg');
    height: 156px;
    width: 123px;
    background-size: auto;
    outline: none;
  	border: none;
  	-moz-outline-style: none
}
body.login
{

	background: #1c1d21;
	/* background-image: url( 'img/tback.jpg' ); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin: 0;
  padding: 0;
  height: 100%;
}

#loginform {
	background: #fff;
}
#login {
	width: 100%;
	max-width:480px;
	padding:8% 45px;
}

.login form {
	height:400px;
}

.wp-core-ui .button.button-large {
	padding:20px 70px !important;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 5px;
}



.wp-core-ui .button-primary {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #fff;
  background: #008cbc;
  padding: 15px;
  border:none;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  text-shadow:none;
  font-family: "Giorgio Sans", sans-serif;
  transition: all ease 0.3s;
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus {
 	background: #000;
 	color:#fff;
}

.forgetmenot label {
	color:#b8b8bc !important;
}
 
.login #nav, .login #backtoblog {
	position: absolute;
	bottom:auto;
	margin-top: -60px;
}

.login #nav  {

}

.login #backtoblog {
	margin-left: 200px;
}

.login #nav a, 
.login #backtoblog a
{
	color: #b8b8bc!important;
	text-shadow: none;
	text-decoration: none;
	transition: all ease 0.3s;
}

.login #nav a:hover, 
.login #backtoblog a:hover
{
	text-decoration: underline;
	color: #000!important;
}

div.error, .login #login_error. .message {
	background: #000;
	border-color: #cb2225;
	color:#fff;
	text-shadow:none; 
	text-align: center;

	margin: auto;
	border: 2px solid #fff;
}
 div.error, .login #login_error a { color:#fff; }
 div.updated, .login .message
 {
 	border:0;
 	border-color:none;
 }

 .login form {
 	background: none;
 	box-shadow: none;
 	text-align: center;
 	box-shadow: 0px 0px 50px 0px rgba(0,0,0,.5);
 }

.login input[type=text], .login input[type=password] {
	background-color:#b8b8bc !important;
	margin: auto;
	border: 1px solid #b6b6b6;
	padding: 5px 10px 5px 10px;
	margin-bottom: 20px;
	text-align: center;
	margin-top: 20px;
 }

 .login input[type=text], .login input[type=password] {
	height:60px;
}

.login input[type=password] {
	margin-bottom: 40px;
}

.login form input[type=checkbox] {
	background: transparent;
}

.login label {
	color:black;
	font-weight: bold;
}

.login label input {
	font-weight: normal;

}

/*.login label {
	color: #fff;
}*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eeeeee inset;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #eeeeee inset;
}

div.updated, .login .message {
	background: #000;
	border-color: #cb2225;
	color:#fff;
	text-shadow:none; 
	text-align: center;

	margin: auto;
	border: 2px solid #fff;
}

.login form .forgetmenot {
	padding: 5px;
}
